.sessao {
    display: flex;
    align-items: center;
    flex-flow: column;
    max-width: 640px;
    margin: 10px auto;
    padding-bottom: 5px;
    border-bottom: 1px solid #011830;
}

.sessao > p {
    text-align: justify;
}

.botao {
    border:1px solid #011830;
    color:#011830;
    padding: 8px;
    border-radius: 10px;
    text-decoration: none;
    margin-top: 5px;
}

.botao:hover {
    background-color:#011830;
    color:white;
    border-radius: 10px;
}