.formacao {
    display: flex;
    align-items: center;
    flex-flow: column;
    max-width: 640px;
    margin: auto;
}

.formacao > p {
    text-align: justify;
}

.botao {
    border:1px solid #011830;
    color:#011830;
    padding: 8px;
    border-radius: 10px;
    text-decoration: none;
}

.botao:hover {
    background-color:#011830;
    color:white;
    border-radius: 10px;
}