.card {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    width: 300px;
    margin-bottom: 10px;
    cursor: pointer;
}

.card:hover {
    box-shadow: 0 3px 6px rgba(0,0,0,0.30), 0 3px 6px rgba(0,0,0,0.30);
}

p {
    margin-bottom: unset;
}

.main {
    padding: 20px
}

.cardBottom {
    border-top: 1px solid #01183059;
    padding: 20px;
}

