.footer{
    background-color: #011830;
    color: white;
    text-align: center;
    padding: 10px;
}

.footer > div {
    margin-bottom: 5px;
}

.email, .telefone{
    text-decoration: none;
    color: white;
}